<!DOCTYPE html>
<html lang="en-US" class="no-js">
    <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	    <title>Merchant's Guide To The Galaxy</title>
	
	    <!-- Seo Tags -->
	    <meta name="description" content="Desafio proposto para concorrer à vaga de desenvolvedor Ruby no Vagas.com!" />
	    <meta name="keywords" content="Merchant's Guide To The Galaxy"/>
	    <meta name="robots" content="index, follow"> 
	    <meta name="author" content="Paul8liveira"> 

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon">
	    <link rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon">

	    <!-- Included CSS Files -->
	    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
	    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	    @Styles.Render("~/Content/css/style")
        @Styles.Render("~/Content/css/fileinput")
	    @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
	    <div class="wrap">

		    <!-- Main -->
		    <div id="main">
			    <div class="inner fade-in">

				    <!-- Header -->
				    <header class="site-header">
					    <h1 class="site-title"><img src="@Url.Content("~/Content/img/logo.png")" width="100" height="60" alt="InTime" /></h1>
				    </header>

				    <!-- Content -->
				    <section class="content">
                        @RenderBody()					
				    </section>

			    </div>
		    </div>

		    <!-- Modal page: About Us -->
@*		    <div id="modal">
			    <div class="inner">

				    <!-- Modal toggle -->
				    <div class="social">
					    <a href="#" id="modal-close"><span class="fa fa-times" title="Close"></span></a>
				    </div>

				    <!-- Content -->
				    <section class="content">
					
					    <h1 class="section-title">About Space</h1>
					
					    <!-- Columns -->
					    <div class="row">
						    <div class="one">
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						    </div>
						    <div class="one-third">
							    <h2><i class="fa fa-phone"></i> Phone</h2>
							    <p>Phone: (000) 555 5555<br />Mobile: (000) 555 6666</p>
						    </div>
						    <div class="one-third">
							    <h2><i class="fa fa-envelope-o"></i> Email</h2>
							    <p>mymail@example.com<br />yourmail@example.com</p>
						    </div>
						    <div class="one-third">
							    <h2><i class="fa fa-map-marker"></i> Address</h2>
							    <p>220020 Belarus, Minsk, Pobeditelei ave. 24</p>
						    </div>
					    </div>

				    </section>

			    </div>
		    </div>*@

	    </div>

	    <!-- Background overlay -->
	    <div class="body-bg"></div>
	
	    <!-- YouTube background video -->
	    <a id="bg-video" data-property="{videoURL:'https://www.youtube.com/watch?v=QQm8YKqGDt4', containment:'body', autoPlay:true, mute:true, startAt:0, showControls:false}" data-poster="images/poster.jpg"></a>
	    <div id="bg-video-controls">
		    <a id="bg-video-volume" class="fa fa-mute" href="#" title="Unmute"><span class="screen-reader-text">Unmute</span></a>
		    <a id="bg-video-play" class="fa fa-pause" href="#" title="Pause"><span class="screen-reader-text">Pause</span></a>
	    </div>

	    <!-- Loading -->
	    <div id="preload">
		    <div id="preload-content">
			    <div class="preload-spinner">
			        <div class="loading-logo-wraper">
  		                <img src="@Url.Content("~/Content/img/logo.png")" alt="">
			        </div>
				    <div class="tp-loader spinner"></div>
			    </div>
		    </div>
	    </div>

	    <!-- Included JS Files -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/YTPlayer")
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)        
    </body>
</html>